<h1>User Info</h1>
<%= image_tag @user.get_profile_image %>
<p>name<%= @user.name %></p>
<p>introduction<%= @user.introduction %></p>
<% if @user == current_user %>
  <%= link_to edit_user_path(current_user) do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
<% else %>
  <%= link_to user_path(current_user) do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
<% end %>

<h1>New book</h1>
<%= form_with model: book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>